* {
    box-sizing: border-box;
}

header {
    background-color: gray;
    text-align: center;
}


.container {
    border: 4px solid black;
}


.currentWeather {
    padding: 10px;
    background-image: linear-gradient(to bottom right, lightblue, blue);
    border: 4px solid black;
}

.list {
    white-space: pre-line;
    border: 4px solid black;
    background-image: linear-gradient(to bottom right, lightblue, blue);
    margin: 10px;
    padding: 20px;
}

#oldsearches {
    display: flex;
    flex-direction: column;
}
